[submodule "zsh/.config/zsh/powerlevel10k"]
	path = zsh/.config/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/.config/zsh/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/zsh/zsh-autosuggestions"]
	path = zsh/.config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/zsh/plugins/z"]
	path = zsh/.config/zsh/plugins/z
	url = https://github.com/rupa/z.git
